* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1500px;
}

.navbar {
    background: #1f2937;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 32px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.navbar .container ul {
    color: #e5e7eb;
    font-size: 18px;
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.hero {
    background: #1f2937;
}

.hero .container {
    display: flex;
    gap: 55px;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 95px;
}

.hero-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    max-width: 470px;
}

.hero-desc {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: normal;
}

.signup {
    color: #f9faf8;
    background: #3882f6;
    padding: 7px 32px;
    border-radius: 7px;
    border: none;
    font-size: 18px;
    font-weight: 700;
}

.hero-img {
    color: #e5e7eb;
    font-size: 18px;
    background: grey;
    padding: 95px;
}

.cards .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 125px;
}

.information {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 55px 0;
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.square {
    padding: 80px 80px;
    border: 4px solid #3882f6;
    border-radius: 14px;
    max-width: 80px;
    margin-bottom: 15px;
}

.item-text {
    max-width: 180px;
    text-align: center;
    color: #747171;
    font-size: 18px;
}

.quotes {
    background: #e5e7eb;
}

.quotes .container {
    display: flex;
    flex-direction: column;
    max-width: 850px;
    padding: 125px 0;
}

.quote-1 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quote-2 {
    align-self: flex-end;
    margin-right: 80px;
    font-size: 18px;
    font-weight: bold;
}

.action-card {
    padding: 140px;
}

.action-card .container {
    background: #3882f6;
    display: flex;
    color: #f9faf8;
    padding: 80px 240px;
    justify-content: space-between;
    border-radius: 14px;
}

.action {
    font-size: 21px;
    font-weight: 700;
}

.action div {
    font-size: 18px;
    font-weight: normal;
}

.sign-up {
    background: #3882f6;
    color: #f9faf8;
    border: 3px solid #f9faf8;
    border-radius: 7px;
    padding: 12px 75px;
    font-size:  18px;
    font-weight: 700;
}

.footer {
    color: #f9faf8;
    background: #1f2937;
    text-align: center;
    font-size: 18px;
    padding: 23px;
}