@font-face {
    font-family: 'carbon_mono_monospace';
    src: url('./fonts/carbonmono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'carbon_mono_italicmonospace';
    src: url('./fonts/carbonmonoitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.4;
    color: #fff;
    height: 100vh;
    background: #161616;
}

button {
    font-family: 'carbon_mono_monospace';
}

.navbar {
    background: black;
    color: #fff;
    height: 68px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    height: 100%;
    padding: 0 55px;
}

.navbar .left {
    display: flex;
    gap: 50px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    font-family: 'carbon_mono_monospace';
}

.navbar a {
    text-decoration: none;
    color: #fff;
    transition: color 0.1s ease-in;
}

.navbar a:hover {
    color: rgb(76, 216, 221);
}

.navbar .buttons {
    display: flex;
    gap: 10px;
}

.navbar button {
    font-size: 16px;
    height: 40px;
    min-width: 120px;
    border-radius: 3px;
    border-style: none;
    transition: transform 0.1s ease;
}

.navbar button:hover {
    transform: scale(1.04);
}

.navbar .learn {
    color: #fff;
    background: black;
    border: 1px solid #fff;
}

.navbar .buy {
    background: rgb(76, 216, 221);
    border: 1px solid rgb(76, 216, 221);
}

.header {
    height: 480px;
    width: 100%;
    background-image: url(images/nfswallpaper.jpg);
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 68px;
}

.header .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carbonlogo {
   padding: 0 50px;
    max-width: 750px;
    min-width: 403px;
}

.content {
    position: relative;
    top: 548px;
}

.description {
    background: #161616;
    height: 200px;
}

.description .container {
    height: 100%;
    max-width: 900px;
    padding: 0 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.boxes {
    background: #161616;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
    padding: 0 55px 105px;
    flex-wrap: wrap;
    
}

.boxes h1 {
    padding: 70px 0;
    font-size: 48px;
    text-align: center;
    font-family: 'carbon_mono_monospace';
    font-weight: normal;
}

.boxes .item {
    text-align: center;
    width: 299px;
    margin: 0 12px;
}


.boxes h4 {
    font-family: 'carbon_mono_monospace';
    font-weight: normal;
}
.boxes img {
    margin: 10px 0;
    height: 168px;
    width: 299px;
    border-radius: 3px;
    object-fit: cover;
    box-shadow: 1px 1px 3px 0px rgba(138,132,132,0.75);
}

.feedback {
    background:rgb(47, 48, 48);
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback .container {
    max-width: 900px;
    min-width: 291px;
    margin: 0 50px;
}

.feedback .text {
    font-size: 22px;
    font-style: italic;
}

.feedback .signature {
    margin-top: 18px;
    text-align: right;
    font-family: 'carbon_mono_monospace';
}

.card {
    height: 350px;
    background: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .container {
    min-width: 432px;
    max-width: 900px;
    margin: 0 50px;
    border: 1px solid #fff;
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 60px 80px;
}

.card .top {
    font-family: 'carbon_mono_monospace';
}

.card .bottom {
    font-size: 14px;
}

.card button {
    height: 48px;
    min-width: 120px;
    font-size: 16px;
    background: #161616;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #fff;
    transition: transform 0.1s ease;

}

.card button:hover {
    transform:scale(1.04);
}

@media (max-width: 770px) {
    .boxes .container {
        flex-direction: column;
        align-items: center;
    }

    .boxes .item {
        margin: 12px 0;
    }
}

.footer {
    height: 75px;
    margin-top: 50px;
}

.footer .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    font-size: 14px;
}