* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #333;
    height: 100vh;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background: #1f2937;
    color: #fff;
    height: 60px;
}

.navbar .container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 28px;
}

.header {
    background: #1f2937;
    height: 500px;
    color: #fff;
}

.header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

}

.header h1 {
    font-size: 48px;
    font-weight: 900;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background: grey;
    height: 250px;
    min-width: 500px;
}

.header button {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background: #3882f6;
    border-radius: 10px;
    padding: 9px 33px;
    border: none;
    margin-top: 13px;
}

.boxes .container {
    max-width: 875px;
    text-align: center;
    margin-bottom: 98px;
}

.boxes h2  {
    margin: 48px 0 40px;
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
}

.items-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    width: 170px;
}
.boxes .box {
    border: 4px solid #3882f6;
    border-radius: 15px;
    height: 170px;
    width: 170px;
    margin-bottom: 9px;
    
}

.quote {
    background: #e5e7eb;
}

.quote .container {
    max-width: 800px;
    padding: 110px 0;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote h3 {
    text-align: right;
}

.signup {
    padding: 100px 0;
}

.signup .container {
    background: #3882f6;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 55px 0;
    border-radius: 10px;
    gap: 165px;

}

.signup button {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background: #3882f6;
    border-radius: 10px;
    height: 50px;
    min-width: 150px;
    border: 2px solid #fff;

}

.footer {
    background: #1f2937;
    color: #fff;
    height: 105px;
}

.footer .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}